// OM Ganesha

.lotus-image-container{
  overflow:hidden;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  .clip{
    overflow: hidden;
    position:relative;
    border:1px solid #9D9595;
    img{
      position:absolute;
    }
  }
  > img{
      position:absolute;
      cursor: move;
      top:0;
      left:0;
      opacity:.3;
      user-drag: none; 
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      border: 1px solid #cccccc;
    }
}